body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #222;
}
div.main {
  padding: 20px;
  background: white;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
#container {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#container > .init {
  width: 400px;
  max-width: 100%;
  font-size: 20px;
}
#container > .init a {
  color: #6262ff;
  display: inline-block;
  float: right;
}
#container > .init > .form-group {
  margin: 8px 4px;
}
#container > .init > .form-group > input {
  padding: 8px 12px;
  background-color: #111;
  border: 1px solid #eee;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
#container > .init > .form-group > input[type="text"] {
  width: 100%;
}
#container > .init > .form-group > button {
  width: 100%;
  padding: 10px 20px;
  background: white;
  border: 1px solid black;
}
#container > .init > .form-group > button:hover {
  background: #eee;
}
#container > .hr #heartrate {
  font-size: 30vw;
  color: #f1f1f1;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
#container > .hr #heartrate .unit {
  font-size: 5vw;
  color: #c1c1c1;
}
#chart {
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.d-none {
  display: none;
}
